<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>libraryWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletUsuarioLogin</display-name>
    <servlet-name>ServletUsuarioLogin</servlet-name>
    <servlet-class>controlador.ServletUsuarioLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUsuarioLogin</servlet-name>
    <url-pattern>/ServletUsuarioLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletUsuarioRegister</display-name>
    <servlet-name>ServletUsuarioRegister</servlet-name>
    <servlet-class>controlador.ServletUsuarioRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUsuarioRegister</servlet-name>
    <url-pattern>/ServletUsuarioRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletUsuarioPedir</display-name>
    <servlet-name>ServletUsuarioPedir</servlet-name>
    <servlet-class>controlador.ServletUsuarioPedir</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUsuarioPedir</servlet-name>
    <url-pattern>/ServletUsuarioPedir</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletLibroListar</display-name>
    <servlet-name>ServletLibroListar</servlet-name>
    <servlet-class>controlador.ServletLibroListar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLibroListar</servlet-name>
    <url-pattern>/ServletLibroListar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletUpdateNovedad</display-name>
    <servlet-name>ServletUpdateNovedad</servlet-name>
    <servlet-class>controlador.ServletUpdateNovedad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUpdateNovedad</servlet-name>
    <url-pattern>/ServletUpdateNovedad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletLibroAlquilar</display-name>
    <servlet-name>ServletLibroAlquilar</servlet-name>
    <servlet-class>controlador.ServletLibroAlquilar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLibroAlquilar</servlet-name>
    <url-pattern>/ServletLibroAlquilar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletUsuarioRestarDinero</display-name>
    <servlet-name>ServletUsuarioRestarDinero</servlet-name>
    <servlet-class>controlador.ServletUsuarioRestarDinero</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUsuarioRestarDinero</servlet-name>
    <url-pattern>/ServletUsuarioRestarDinero</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAlquilerListar</display-name>
    <servlet-name>ServletAlquilerListar</servlet-name>
    <servlet-class>controlador.ServletAlquilerListar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAlquilerListar</servlet-name>
    <url-pattern>/ServletAlquilerListar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletLibroDevolver</display-name>
    <servlet-name>ServletLibroDevolver</servlet-name>
    <servlet-class>controlador.ServletLibroDevolver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLibroDevolver</servlet-name>
    <url-pattern>/ServletLibroDevolver</url-pattern>
  </servlet-mapping>
</web-app>